/* Landing Content Page */

.bg {
  background: url(../../resources/BGs/A8.png) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.container {
  width: 36vw;
  margin-left: 15vw;
}

.about {
  margin-top: 150px !important;
  font-size: 2.5rem !important;
  color: #0d152a;
}

.mantra {
  margin-top: 30px !important;
  width: 90%;
  margin-bottom: 60px !important;
}

.mantra > span {
  background: -webkit-linear-gradient(#f86d15, #fcc009);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
}

.typo {
  width: 95%;
}

.morals {
  margin: 200px 0;
}

.head {
  background: -webkit-linear-gradient(#ed1c24, #f15a24);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px !important;
}

.rule {
  margin: 20px 0 !important;
}

.rule > span {
  font-size: 2rem;
  background: -webkit-linear-gradient(#f86d15, #fcc009);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
